@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Ejemplos de envío de parámetros</h2>
<a asp-controller="param" asp-action="Ejemplo2" asp-route-nom="Samantha">Enviando un parámetro</a>
<br />
<a asp-controller="param" asp-action="Ejemplo3" asp-route-nom="Pepe" asp-route-edad="22">Enviando dos parámetros</a>
<br />
<a asp-controller="param" asp-action="ej4" asp-route-nom="Samantha">Enviando un parámetro Query String</a><br />
<a asp-controller="param" asp-action="ej5" asp-route-nom="Pepe" asp-route-edad="22">Enviando dos parámetros Query String</a>
<br />