@*
    Del ejemplo de archivos estáticos
    +++++++++++++++++++++++++++++++
            
    CSS, JavaScript e imágenes
*@
<link rel="stylesheet" href="~/css/estilo.css" type="text/css"/>

<h3 class="titulo">Ejemplo de archivos estáticos</h3>

<img src="~/imagenes/uno.jpeg" onclick="clikeame()" />

<script src="~/js/scripts_locos.js"></script>
