@model EjemplosASPNET.Models.CuentaParaView

<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form method="post">

            </form>
        </div>
    </div>
</div>