<h3>Ejemplo de QR</h3>

<form method="post" asp-action="Generar" asp-controller="CodigosQR">
    <input type="text" placeholder="Ingrese su texto" name="texto" value="@ViewBag.mensaje"/>
    <input type="submit" value="Generar QR" />
</form>

@if (ViewBag.mensaje != null)
{
    <div>
        <codigo-qr texto="@ViewBag.mensaje" ancho="400" alto="400" />
    </div>
}