
@{
    ViewBag.titulo = "Otro Ej. layout";
    Layout = "~/Views/Shared/AcercaDeLayout.cshtml"; // Nombre del layout que se usará para esta vista
}

<h1>Acerca 1</h1>
<p>Esta es una vista que utiliza un layout personalizado.</p>
<p>El layout se define en la propiedad <code>Layout</code> de la vista.</p>

<p>Se espera ver un menú principal y otro secundario (de la super plantilla y acerca delayout respectivamente.)</p>