@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h3>Ejemplos</h3>

</div>
<a asp-controller="Prueba" asp-action="Index">Ejemplo de archivos estáticos</a>
<a asp-controller="Prueba" asp-action="PasandoDatos">Ejemplo de envío de valores simples a una vista</a>
<a asp-controller="Prueba" asp-action="PasandoObjetos">Ejemplo de envío de un objeto a una vista</a>
<a asp-controller="Prueba" asp-action="PasandoListaObjetos">Ejemplo de envío de una lista de objetos a una vista</a>
<a asp-controller="Configuraciones" asp-action="Index">Ejemplo de manejo del archivo appsettings.json</a>