
@{
    ViewBag.titulo = "Otro Ej. layout";
    Layout = "~/Views/Shared/_MiSuperPlantilla.cshtml"; // Nombre del layout que se usará para esta vista
}

<h1>Ejemplo de Layout 2</h1>
<p>Esta es una vista que utiliza un layout personalizado.</p>
<p>El layout se define en la propiedad <code>Layout</code> de la vista.</p>
<p>El layout se encuentra en <code>Views/Shared/_MiSuperPlantilla.cshtml</code>.</p>
<p>El título de la página se establece en <code>ViewBag.titulo</code>.</p>
<p>Esta vista es un ejemplo de cómo se puede reutilizar un layout en diferentes vistas.</p>
<p>El layout permite mantener una estructura común en todas las páginas de la aplicación.</p>
<p>Esto facilita la consistencia en el diseño y la navegación de la aplicación.</p>
<p>Además, el uso de layouts mejora la mantenibilidad del código, ya que cualquier cambio en el layout se reflejará en todas las vistas que lo utilicen.</p>
<p>En este caso, el layout incluye enlaces a diferentes secciones de la aplicación, como "Home", "Minimarket" y "Formulario".</p>
<p>Estos enlaces permiten una navegación fácil y rápida entre las diferentes partes de la aplicación.</p>
<p>El layout también incluye un pie de página con información de derechos de autor.</p>